* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: arial, sans-serif;
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.box {
  width: 200px;
  height: 100px;
  background-color: red;
  color: white;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: background-color 0.5s ease, transform 0.9s ease-in;
}

.box:hover {
  background-color: blue;
  transform: rotate(180deg);
}
