.container {
  height: 100px;
  width: 300px;
  border: 1px solid white;
  background-color: #f3f3f3;
  margin-bottom: 20px;
}
.container h3 {
  color: blue;
}

.container p {
  color: gray;
}

.special-container {
  background-color: black;
}
